@font-face {
  font-family: 'steelfishextrabold';
  src: url("../fonts/steelfish_eb-webfont.woff2") format("woff2"), url("../fonts/steelfish_eb-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes noise-animation {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: -5% -5%;
  }
  20% {
    background-position: -10% 5%;
  }
  30% {
    background-position: 5% -10%;
  }
  40% {
    background-position: -5% 15%;
  }
  50% {
    background-position: -10% 5%;
  }
  60% {
    background-position: 5% 5%;
  }
  70% {
    background-position: 0% 10%;
  }
  80% {
    background-position: -5% -5%;
  }
  90% {
    background-position: 10% 5%;
  }
}

@keyframes noise-animation {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: -5% -5%;
  }
  20% {
    background-position: -10% 5%;
  }
  30% {
    background-position: 5% -10%;
  }
  40% {
    background-position: -5% 15%;
  }
  50% {
    background-position: -10% 5%;
  }
  60% {
    background-position: 5% 5%;
  }
  70% {
    background-position: 0% 10%;
  }
  80% {
    background-position: -5% -5%;
  }
  90% {
    background-position: 10% 5%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: url("../img/bg-noise.png"), #e8eddf;
  background-size: 300px 300px;
  animation: 250ms steps(10, end) 0s infinite alternate-reverse none running noise-animation;
  position: relative;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #e8eddf;
          box-shadow: inset 0 0 6px #e8eddf;
}

body::-webkit-scrollbar-thumb {
  background-color: #242423;
}

main {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

section {
  /* width 100% = 100vw - scrollbar */
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -10%;
}

.column {
  position: relative;
  height: 100%;
  min-width: 15%;
  border-right: thin solid #242423;
}

.bookmark {
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.bookmark-color {
  display: inline-block;
  width: 40px;
  height: 100%;
  background-color: #bb0a21;
}

.bookmark-text {
  font-family: 'steelfishextrabold';
  line-height: .8;
  font-weight: 700;
  text-transform: uppercase;
  color: #242423;
  font-size: 34px;
}

.index {
  height: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-left {
  left: -15vw;
}

.index-right {
  right: -15vw;
}

.index-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  background-color: #333533;
  position: relative;
}

.index-dot-left {
  left: -2.5px;
  margin-right: 5px;
}

.index-dot-right {
  right: -2.5px;
  margin-left: 5px;
}

.index-text {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #242423;
  font-size: 16px;
  position: relative;
}

.index-text-left {
  left: -5px;
}

.index-text-right {
  right: -5px;
}

.inner-wrapper {
  height: 100%;
  width: 60%;
  position: absolute;
  top: 0;
  left: 30%;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button, a, .menu-btn {
  -webkit-tap-highlight-color: transparent;
}

header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu-btn {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* border: 1px solid #FFF; */
  position: fixed;
  top: 5vh;
  right: calc(5% - 29px);
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn-hidden {
  -webkit-transition: none;
  transition: none;
  visibility: hidden;
}

.menu-btn-hidden .menu-btn-burger {
  -webkit-transition: none;
  transition: none;
}

.menu-btn-hidden .menu-btn-burger::before,
.menu-btn-hidden .menu-btn-burger::after {
  -webkit-transition: none;
  transition: none;
}

.menu-btn-burger {
  width: 4px;
  height: 40px;
  background-color: #242423;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 40px;
  background-color: #242423;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/* .menu-btn:hover .menu-btn-burger, .menu-btn:hover .menu-btn-burger::before, .menu-btn:hover .menu-btn-burger::after {
    background-color: rgb(212, 0, 0);
} */
.menu-btn-burger::before {
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
}

.menu-btn-burger::after {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
}

.menu-btn.menu-open .menu-btn-burger {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  background: transparent;
}

.menu-btn.menu-open .menu-btn-burger::before {
  -webkit-transform: rotate(45deg) translate(-35px, -35px);
          transform: rotate(45deg) translate(-35px, -35px);
  background-color: #e8eddf;
}

.menu-btn.menu-open .menu-btn-burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, -35px);
          transform: rotate(-45deg) translate(35px, -35px);
  background-color: #e8eddf;
}

nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
  z-index: 10;
  height: 50vh;
}

nav ul {
  list-style-type: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav ul li {
  padding-left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  pointer-events: none;
  position: relative;
}

nav ul li::after {
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  height: 8px;
  position: absolute;
  z-index: 1;
  background: #bb0a21;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  width: 0;
}

nav ul li:hover::after {
  width: 100%;
}

.nav-link {
  font-family: 'steelfishextrabold';
  line-height: .8;
  font-weight: 700;
  text-transform: uppercase;
  color: #242423;
  color: #e8eddf;
  font-size: 80px;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  margin-left: -80px;
  -webkit-transition-property: margin-left, opacity;
  transition-property: margin-left, opacity;
  -webkit-transition-duration: .3s, .5s;
          transition-duration: .3s, .5s;
}

.nav-link-1 {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.nav-link-2 {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.nav-link-3 {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

.nav-link-4 {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.nav-link.menu-open {
  opacity: 1;
  pointer-events: all;
  margin-left: 0;
}

section.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -10%;
}

section.menu-overlay.menu-open {
  z-index: 1;
}

section.menu-overlay .column {
  border-right: none;
}

section.menu-overlay .column-5, section.menu-overlay .column-4 {
  z-index: 20;
}

.bg-change {
  /* W lewo */
  position: absolute;
  top: 0;
  right: 0;
  /* W prawo */
  width: 0;
  height: 100%;
  background: url("../img/bg-noise.png"), #333533;
  background-size: 300px 300px;
  animation: 250ms steps(10, end) 0s infinite alternate-reverse none running noise-animation;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.bg-change.slide {
  width: 100%;
  border-right: thin solid #e8eddf;
}

.hero-header {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 5;
}

.hero-header h1 {
  font-family: 'steelfishextrabold';
  line-height: .8;
  font-weight: 700;
  text-transform: uppercase;
  color: #242423;
  font-size: 100px;
  color: #242423;
}

.hero-header h1:nth-of-type(2), .hero-header h1:nth-of-type(3) {
  display: inline-block;
  margin-top: 40px;
}

.hero-header h1:nth-of-type(2) {
  margin-right: 10px;
}

.hero-header h1:nth-of-type(4) {
  margin-top: 5px;
}

.hero-header span {
  color: #bb0a21;
}

.hero-header h1:nth-of-type(1) span:nth-of-type(2) {
  color: #bb0a21;
}

.hero-header h1:nth-of-type(2) span:nth-of-type(3) {
  color: #bb0a21;
}

.hero-header h1:nth-of-type(2) span:nth-of-type(2) {
  color: #bb0a21;
}

.hero-header h1:nth-of-type(3) span:nth-of-type(2) {
  color: #bb0a21;
}

.hero-header span.span-higher {
  position: relative;
  bottom: 10px;
}

.hero-header span.span-lower {
  position: relative;
  top: 10px;
}

h1.pseudo-header {
  font-family: 'steelfishextrabold';
  line-height: .8;
  font-weight: 700;
  text-transform: uppercase;
  color: #242423;
  color: #bb0a21;
  font-size: 100px;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

h1.pseudo-header span {
  display: inline-block;
  opacity: 0;
}

.about-left {
  position: relative;
}

.about-left-text {
  padding-left: 5px;
}

.about-right {
  position: relative;
  text-align: end;
}

.about-right-text {
  padding-right: 5px;
}

.about p {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #242423;
  white-space: nowrap;
  font-size: 30px;
}

.about span.italic {
  font-style: italic;
}

.about span.color {
  color: #bb0a21;
}

.about .animate-on-scroll {
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: all 1s ease .5s;
  transition: all 1s ease .5s;
}

.about .animate-on-scroll.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.tech-logos img {
  height: 70px;
  padding: 5px;
}

.works {
  height: calc(75vw + 100px);
}

.works a {
  color: inherit;
}

.works-top {
  width: 100%;
  height: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-bottom {
  width: 100%;
  height: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 50px;
}

.project-wrapper {
  z-index: 1;
  height: 30vw;
  width: 50%;
  position: relative;
}

.project-wrapper-right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: end;
      justify-self: end;
}

.project {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.project-info {
  width: 100%;
  height: 100%;
}

.project-info-headers {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.project-info-headers h2 {
  font-family: 'steelfishextrabold';
  line-height: .8;
  font-weight: 700;
  text-transform: uppercase;
  color: #242423;
  font-size: 120px;
}

.project-info-headers h4 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #242423;
  white-space: nowrap;
  font-size: 25px;
  padding-top: 15px;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.project-info-details {
  display: none;
}

.project-image {
  height: 100%;
  width: 100%;
  background: url("../img/bg-noise.png"), #e8eddf;
  background-size: 300px 300px;
  animation: 250ms steps(10, end) 0s infinite alternate-reverse none running noise-animation;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
  -webkit-transition: opacity .5s ease, -webkit-transform 1s ease;
  transition: opacity .5s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity .5s ease;
  transition: transform 1s ease, opacity .5s ease, -webkit-transform 1s ease;
}

.project-image img {
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.project:hover {
  cursor: pointer;
}

.project:hover h4 {
  opacity: 1;
}

.project:hover .project-image {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project:hover .project-image img {
  opacity: .5;
}

.project.animate-on-scroll {
  opacity: 0;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  -webkit-transition: opacity 1s ease .5s, -webkit-transform 1s ease .5s;
  transition: opacity 1s ease .5s, -webkit-transform 1s ease .5s;
  transition: transform 1s ease .5s, opacity 1s ease .5s;
  transition: transform 1s ease .5s, opacity 1s ease .5s, -webkit-transform 1s ease .5s;
}

.project.animate-on-scroll.is-visible {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.project-right.animate-on-scroll {
  opacity: 0;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  -webkit-transition: opacity 1s ease .5s, -webkit-transform 1s ease .5s;
  transition: opacity 1s ease .5s, -webkit-transform 1s ease .5s;
  transition: transform 1s ease .5s, opacity 1s ease .5s;
  transition: transform 1s ease .5s, opacity 1s ease .5s, -webkit-transform 1s ease .5s;
}

.project-right.animate-on-scroll.is-visible {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.project-open {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.project-open .project {
  cursor: url(../img/close20.svg), auto !important;
}

.project-open:hover .project-image img {
  opacity: 1;
}

.project-open h2, .project-open h4 {
  opacity: 1;
}

.project-open .project-image {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-open .project-image img {
  width: 50%;
  opacity: 1;
}

.project-open .project-info {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.project-open .project-info-headers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  -webkit-animation: show 1s ease;
          animation: show 1s ease;
}

.project-open .project-info-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 70%;
  padding: 0 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
}

.project-open .project-info-details h5 {
  font-family: 'steelfishextrabold';
  line-height: .8;
  font-weight: 700;
  text-transform: uppercase;
  color: #242423;
  font-size: 32px;
  color: #bb0a21;
  -webkit-animation: slide-up 1s ease;
          animation: slide-up 1s ease;
}

.project-open .project-info-details h5 span {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-color: #bb0a21;
  margin-left: 5px;
}

.project-open .project-info-details p {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #242423;
  white-space: nowrap;
  font-size: 20px;
  white-space: normal;
  -webkit-animation: show 2.5s ease;
          animation: show 2.5s ease;
}

.project-open .project-info-details img {
  height: 40px;
  padding: 0 5px;
  -webkit-animation: show 2.5s ease;
          animation: show 2.5s ease;
}

.project-open .project-info-btns a {
  text-decoration: none;
}

.project-open .project-info-btns img:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(14%) sepia(99%) saturate(3113%) hue-rotate(341deg) brightness(90%) contrast(108%);
          filter: brightness(0) saturate(100%) invert(14%) sepia(99%) saturate(3113%) hue-rotate(341deg) brightness(90%) contrast(108%);
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.contact .inner-wrapper {
  padding: 5px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact h2 {
  font-family: 'steelfishextrabold';
  line-height: .8;
  font-weight: 700;
  text-transform: uppercase;
  color: #242423;
  line-height: 1;
  font-size: 70px;
  text-align: center;
  z-index: 1;
}

.contact .animate-on-scroll {
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: all 1s ease .5s;
  transition: all 1s ease .5s;
}

.contact .animate-on-scroll.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.form-wrapper {
  z-index: 1;
  width: 75%;
  background: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

form {
  background: url("../img/bg-noise.png"), #e8eddf;
  background-size: 300px 300px;
  animation: 250ms steps(10, end) 0s infinite alternate-reverse none running noise-animation;
  margin: 0 20px;
}

form div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10px;
}

.personal-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.personal-info div {
  width: 49%;
}

form div label {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #242423;
  white-space: nowrap;
  font-size: 14px;
  color: #bb0a21;
  letter-spacing: 1px;
  margin-bottom: 0;
  padding: 0 1rem;
  opacity: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

form div input {
  padding: 0.5rem 1rem;
  background-color: #333533;
  border: none;
  border-bottom: 1px solid #242423;
  outline: none;
  width: 100%;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #242423;
  white-space: nowrap;
  color: #e8eddf;
  font-size: 20px;
  position: relative;
  display: block;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  border: 2px solid transparent;
}

form div input:valid + label {
  opacity: 1;
}

form div input:focus {
  border: 2px solid #bb0a21;
}

form div textarea {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #242423;
  white-space: nowrap;
  font-size: 20px;
  color: #e8eddf;
  padding: 0.5rem 1rem;
  background-color: #333533;
  border: none;
  outline: none;
  width: 100%;
  position: relative;
  display: block;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  resize: none;
  height: 120px;
  border: 2px solid transparent;
  white-space: normal;
}

form div textarea:valid + label {
  opacity: 1;
}

form div textarea:focus {
  border: 2px solid #bb0a21;
}

form div button {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #242423;
  white-space: nowrap;
  font-size: 20px;
  padding: 0.75rem 2rem;
  background-color: #bb0a21;
  color: #e8eddf;
  border: none;
  width: calc(15vw - 40px);
  cursor: pointer;
  outline: none;
  margin: 1rem 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #333533 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #e8eddf !important;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-left, .footer-right {
  width: 50%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
}

.footer-right {
  padding-left: 30px;
}

.footer span {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #242423;
  white-space: nowrap;
  line-height: 1;
  font-size: 16px;
}

.footer .copy {
  margin-top: 4px;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.footer ul li {
  margin-right: 10px;
  position: relative;
}

.footer ul li a {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #242423;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
}

.footer ul li a::after {
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  height: 2px;
  position: absolute;
  z-index: 1;
  background: #bb0a21;
  -webkit-transition: width .3s ease, left .3s ease;
  transition: width .3s ease, left .3s ease;
  width: 0;
}

.footer ul li a:hover::after {
  width: 100%;
}

.button-up-wrapper {
  position: absolute;
  right: calc(5vw - 20px);
  bottom: 50px;
  z-index: 1;
  width: 40px;
  height: 40px;
  background: url("../img/bg-noise.png"), #e8eddf;
  background-size: 300px 300px;
  animation: 250ms steps(10, end) 0s infinite alternate-reverse none running noise-animation;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-up {
  width: 35px;
  height: 35px;
  padding: 10px;
  text-decoration: none;
  color: #242423;
  border: solid 1px #242423;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-up img {
  width: 22px;
  height: 22px;
  -webkit-transition: margin-bottom .3s ease;
  transition: margin-bottom .3s ease;
}

.button-up:hover img {
  margin-bottom: 8px;
}

@media (max-width: 1280px) {
  .about p {
    font-size: 26px;
  }
  .tech-logos img {
    height: 65px;
  }
}

@media (max-width: 1199px) {
  .nav-link:active {
    color: #bb0a21;
  }
  nav ul li::after {
    display: none;
  }
  .project h4 {
    opacity: 1;
  }
  .project-image {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    -webkit-transition: none;
    transition: none;
  }
  .project-image img {
    opacity: .7;
    -webkit-transition: none;
    transition: none;
  }
  .project:hover .project-image img {
    opacity: .7;
  }
  .project-open:hover .project-image img {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .about p {
    font-size: 24px;
    white-space: normal;
  }
}

@media (max-width: 768px) {
  .index-text {
    font-size: 14px;
  }
  .hero-header h1 {
    font-size: 80px;
  }
  .hero-header h1:nth-of-type(2), .hero-header h1:nth-of-type(3) {
    display: block;
  }
  .hero-header h1:nth-of-type(3) {
    margin: 15px 0 15px 0;
  }
  .about p {
    font-size: 22px;
  }
  .tech-logos img {
    height: 60px;
  }
  .project-info-headers h2 {
    font-size: 100px;
  }
  .project-info-headers h4 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .menu-btn {
    right: calc(12.5% - 29px);
    top: 15px;
  }
  section.menu-overlay .column-5 {
    z-index: 0;
  }
  section.menu-overlay .column-4, section.menu-overlay .column-3 {
    z-index: 20;
  }
  nav {
    left: calc(-15vw + 5px);
  }
  .nav-link {
    font-size: 70px;
  }
  .hero-header {
    left: calc(-15vw + 5px);
  }
  .hero-header h1 {
    font-size: 70px;
  }
  .about p {
    font-size: 20px;
  }
  .tech-logos img {
    height: 50px;
    padding: 3px;
  }
  .works {
    height: calc(240vw + 175px);
  }
  .works .works-top {
    top: 0;
    width: 100%;
    height: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works .works-bottom {
    width: 100%;
    height: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
  }
  .works .works-bottom, .project-wrapper-right {
    margin-top: 25px;
  }
  .project-wrapper {
    width: 100%;
    height: 50%;
  }
  .project-open {
    width: 100vw;
    height: 100vh;
    margin-top: 0;
  }
  .project-open .project-image img {
    display: none;
  }
  .project-open .project-info {
    left: 0;
    width: 100%;
  }
  .project-open .project-info .project-info-headers {
    height: 22%;
  }
  .project-open .project-info .project-info-details {
    height: 75%;
  }
  .works .index-text {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .works .index-text span {
    display: none;
  }
}

@media (max-width: 375px) {
  .tech-logos img {
    height: 45px;
  }
}

@media (max-height: 480px) and (max-width: 768px) and (orientation: landscape) {
  section {
    height: 180vh;
  }
  .hero-header h1 {
    font-size: 70px;
  }
}
/*# sourceMappingURL=main.css.map */