@font-face {
  font-family: 'steelfishextrabold';
  src: url("../fonts/steelfish_eb-webfont.woff2") format("woff2"), url("../fonts/steelfish_eb-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes noise-animation {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: -5% -5%;
  }
  20% {
    background-position: -10% 5%;
  }
  30% {
    background-position: 5% -10%;
  }
  40% {
    background-position: -5% 15%;
  }
  50% {
    background-position: -10% 5%;
  }
  60% {
    background-position: 5% 5%;
  }
  70% {
    background-position: 0% 10%;
  }
  80% {
    background-position: -5% -5%;
  }
  90% {
    background-position: 10% 5%;
  }
}

@keyframes noise-animation {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: -5% -5%;
  }
  20% {
    background-position: -10% 5%;
  }
  30% {
    background-position: 5% -10%;
  }
  40% {
    background-position: -5% 15%;
  }
  50% {
    background-position: -10% 5%;
  }
  60% {
    background-position: 5% 5%;
  }
  70% {
    background-position: 0% 10%;
  }
  80% {
    background-position: -5% -5%;
  }
  90% {
    background-position: 10% 5%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: url("../img/bg-noise.png"), #e8eddf;
  background-size: 300px 300px;
  animation: 250ms steps(10, end) 0s infinite alternate-reverse none running noise-animation;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #e8eddf;
          box-shadow: inset 0 0 6px #e8eddf;
}

body::-webkit-scrollbar-thumb {
  background-color: #242423;
}

main {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

section {
  /* width 100% = 100vw - scrollbar */
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -10%;
}

.column {
  position: relative;
  height: 100%;
  min-width: 15%;
  border-right: thin solid #242423;
}

.bookmark {
  height: 30px;
  position: absolute;
  top: calc(5vh - 10px);
  left: 0;
}

.bookmark-color {
  display: inline-block;
  width: 40px;
  height: 100%;
  background-color: #bb0a21;
}

.bookmark-text {
  font-family: 'steelfishextrabold';
  line-height: .8;
  font-weight: 700;
  text-transform: uppercase;
  color: #242423;
  font-size: 34px;
}

.index {
  height: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-left {
  left: -15vw;
}

.index-right {
  right: -15vw;
}

.index-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  background-color: #333533;
  position: relative;
}

.index-dot-left {
  left: -7.5px;
  margin-right: 5px;
}

.index-dot-right {
  right: -7px;
  margin-left: 5px;
}

.index-text {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #242423;
  font-size: 16px;
  position: relative;
}

.index-text-left {
  left: -5px;
}

.index-text-right {
  right: -5px;
}

.inner-wrapper {
  height: 80%;
  width: 60%;
  position: absolute;
  top: 10%;
  left: 30%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner-left {
  position: relative;
}

.inner-right {
  position: relative;
  text-align: end;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu-btn {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* border: 1px solid #FFF; */
  position: absolute;
  top: 5vh;
  right: calc(5% - 30px);
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn-burger {
  width: 4px;
  height: 40px;
  background-color: #242423;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 40px;
  background-color: #242423;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/* .menu-btn:hover .menu-btn-burger, .menu-btn:hover .menu-btn-burger::before, .menu-btn:hover .menu-btn-burger::after {
    background-color: rgb(212, 0, 0);
} */
.menu-btn-burger::before {
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
}

.menu-btn-burger::after {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
}

.menu-btn.menu-open .menu-btn-burger {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  background: transparent;
}

.menu-btn.menu-open .menu-btn-burger::before {
  -webkit-transform: rotate(45deg) translate(-35px, -35px);
          transform: rotate(45deg) translate(-35px, -35px);
  background-color: #e8eddf;
}

.menu-btn.menu-open .menu-btn-burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, -35px);
          transform: rotate(-45deg) translate(35px, -35px);
  background-color: #e8eddf;
}

nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
  z-index: 10;
  height: 50vh;
}

nav ul {
  list-style-type: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav ul li {
  padding-left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  pointer-events: none;
  position: relative;
}

nav ul li::after {
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  height: 8px;
  position: absolute;
  z-index: 1;
  background: #bb0a21;
  -webkit-transition: width .3s ease, left .3s ease;
  transition: width .3s ease, left .3s ease;
  width: 0;
}

nav ul li:hover::after {
  width: 100%;
}

.nav-link {
  font-family: 'steelfishextrabold';
  line-height: .8;
  font-weight: 700;
  text-transform: uppercase;
  color: #242423;
  color: #e8eddf;
  font-size: 80px;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  margin-left: -80px;
  -webkit-transition-property: margin-left, opacity;
  transition-property: margin-left, opacity;
  -webkit-transition-duration: .3s, .5s;
          transition-duration: .3s, .5s;
}

.nav-link-1 {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.nav-link-2 {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.nav-link-3 {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

.nav-link-4 {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.nav-link.menu-open {
  opacity: 1;
  pointer-events: all;
  margin-left: 0;
}

section.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -10%;
}

section.menu-overlay.menu-open {
  z-index: 1;
}

section.menu-overlay .column {
  border-right: none;
}

section.menu-overlay .column-5 {
  z-index: 20;
}

.bg-change {
  /* W lewo */
  position: absolute;
  top: 0;
  right: 0;
  /* W prawo */
  width: 0;
  height: 100%;
  background: url("../img/bg-noise.png"), #333533;
  background-size: 300px 300px;
  animation: 250ms steps(10, end) 0s infinite alternate-reverse none running noise-animation;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.bg-change.slide {
  width: 100%;
  border-right: thin solid #e8eddf;
}

.hero-header {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 5;
}

.hero-header h1 {
  font-family: 'steelfishextrabold';
  line-height: .8;
  font-weight: 700;
  text-transform: uppercase;
  color: #242423;
  font-size: 100px;
}

.hero-header span {
  color: #242423;
  display: inline-block;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  opacity: 0;
  -webkit-transition: all .5s ease 3.2s;
  transition: all .5s ease 3.2s;
}

.hero-header span.loaded {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.hero-header h1:nth-of-type(1) span:nth-of-type(2) {
  color: #bb0a21;
  -webkit-transition-delay: 2.2s;
          transition-delay: 2.2s;
}

.hero-header h1:nth-of-type(2) span:nth-of-type(3) {
  color: #bb0a21;
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}

.hero-header h1:nth-of-type(2) span:nth-of-type(2) {
  color: #bb0a21;
  -webkit-transition-delay: 2.6s;
          transition-delay: 2.6s;
}

.hero-header h1:nth-of-type(3) span:nth-of-type(2) {
  color: #bb0a21;
  -webkit-transition-delay: 2.8s;
          transition-delay: 2.8s;
}

.hero-header span.span-higher {
  position: relative;
  bottom: 10px;
}

.hero-header span.span-lower {
  position: relative;
  top: 10px;
}

h1.pseudo-header {
  font-family: 'steelfishextrabold';
  line-height: .8;
  font-weight: 700;
  text-transform: uppercase;
  color: #242423;
  color: #bb0a21;
  font-size: 100px;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

h1.pseudo-header span {
  display: inline-block;
  opacity: 0;
}

h1.pseudo-header span.loaded:nth-of-type(1) {
  -webkit-animation: fall-and-clear 2s ease .2s forwards;
          animation: fall-and-clear 2s ease .2s forwards;
}

h1.pseudo-header span.loaded:nth-of-type(2) {
  -webkit-animation: fall-and-clear 2s ease .4s forwards;
          animation: fall-and-clear 2s ease .4s forwards;
}

h1.pseudo-header span.loaded:nth-of-type(3) {
  -webkit-animation: fall-and-clear 2s ease .6s forwards;
          animation: fall-and-clear 2s ease .6s forwards;
}

h1.pseudo-header span.loaded:nth-of-type(4) {
  -webkit-animation: fall-and-clear 2s ease .8s forwards;
          animation: fall-and-clear 2s ease .8s forwards;
}

@-webkit-keyframes fall-and-clear {
  0% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    opacity: 0;
  }
}

@keyframes fall-and-clear {
  0% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    opacity: 0;
  }
}

.about {
  height: 120vh;
}

.about p {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #242423;
  white-space: nowrap;
  font-size: 30px;
}

.about span.italic {
  font-style: italic;
}

.about span.color {
  color: #bb0a21;
}

.tech-logos {
  padding-top: 20px;
}

.tech-logos img {
  height: 80px;
}

.works {
  height: 200vh;
}

.works .inner-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

.works a {
  color: inherit;
}

.project {
  position: relative;
  z-index: 1;
  height: 30vw;
  width: calc(100% - 1px);
}

.project h2 {
  font-family: 'steelfishextrabold';
  line-height: .8;
  font-weight: 700;
  text-transform: uppercase;
  color: #242423;
  font-size: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.project h4 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #242423;
  white-space: nowrap;
  font-size: 25px;
  position: absolute;
  left: 50%;
  bottom: 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.project-image {
  height: 100%;
  width: 100%;
  background-color: #e8eddf;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.project-image img {
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.project:hover {
  cursor: pointer;
}

.project:hover h4 {
  opacity: 1;
}

.project:hover .project-image {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project:hover .project-image img {
  opacity: .5;
}

.works-left {
  width: 50%;
}

.works-right {
  width: 50%;
  position: relative;
  top: 15vw;
}

.project-open {
  background-color: #e8eddf;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.project-open .project-image {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-open .project-image img {
  width: 50%;
  opacity: 1;
}

.project-open .project-image:hover img {
  opacity: 1;
}

.close-icon {
  width: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.project-details {
  width: 100%;
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */