.about {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    white-space: nowrap;
    

    span.italic {
        font-style: italic;
    }

    span.color {
        color: $accent-color;
    }

    &-intro {
        position: absolute;
        top: 15%;
        left: 5px;
    }

    &-values {
        position: absolute;
        top: 30%;

        &-para {
            padding-top: 20px;
        }
    }
}

    

