.about {
    height: 120vh;

    p {
        @include font-regular;
        font-size: 30px;
    }

    span.italic {
        font-style: italic;
    }

    span.color {
        color: $accent-color;
    }
}

.tech-logos {

    padding-top: 20px;

    img {
        height: 80px;
    }
}
