.about {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    white-space: nowrap;
    height: 120vh;

    span.italic {
        font-style: italic;
    }

    span.color {
        color: $accent-color;
    }
}

.tech-logos {

    padding-top: 20px;

    img {
        height: 80px;
    }
}
