.contact {
    .inner-wrapper {
        // justify-content: space-around;
        // background-color: #fff;
    }

    &-header {
        height: 22%;
        opacity: 0;
        transform: translateY(80px);
        transition: all 1s ease .5s;
        position: relative;

        // background-color: blue;

        &.is-visible {
            opacity: 1;
            transform: translateY(0);
        }
    }

    h2 {
        @include font-header;
        line-height: 1;
        font-size: 70px;
        text-align: center;
        z-index: 1;
        white-space: nowrap;
    }
}

.form-wrapper {
    height: 75%;
    z-index: 1;
    width: 75%;
    background: transparent;
    align-self: center;
}

form {
    height: 100%;
    // @include background-noise;
    margin: 0 20px;
    // background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        height: 15%;
        position: relative;
        display: flex;
        flex-direction: column;
        // padding-bottom: 10px;
        // background-color: yellow;

      label {
          transition: all .4s ease-in-out;
          @include font-regular;
          font-size: 14px;
          color: $accent-color;
          letter-spacing: 1px;
          margin-bottom: 0;
          padding: 0 1rem;
          opacity: 0;
          order: 1;
      }

      input {
          display: block;
          height: 100%;
          padding: 0.5rem 1rem;
          background-color: $secondary-color;
        //   background-color: violet;
          border: none;
          border-bottom: 1px solid $text-color;
          outline: none;
          width: 100%;
          @include font-regular;
          color: $primary-color;
          font-size: 20px;
          position: relative;
          order: 2;
          border: 2px solid transparent;

          &:valid + label {
              opacity: 1;
          }

          &:focus {
              border: 2px solid $accent-color;
          }
      }

      textarea {
        height: 100%;
        @include font-regular;
        font-size: 20px;
        color: $primary-color;
        padding: 0.5rem 1rem;
        background-color: $secondary-color;
        border: none;
        outline: none;
        width: 100%;
        position: relative;
        display: block;
        order: 2;
        resize: none;
        // height: 120px;
        border: 2px solid transparent;
        white-space: normal;

        &:valid + label {
            opacity: 1;
        }

        &:focus {
            border: 2px solid $accent-color;
        }
      }

      button {
        height: calc(100% - 18px);  //Equal to input + label - 4px border
        @include font-regular;
        font-size: 20px;
        // padding: 0.5rem 2rem;
        background-color: $accent-color;
        color: $primary-color;
        border: 2px solid transparent;
        width: calc(15vw - 20px);
        cursor: pointer;
        outline: none;
        // margin: 1rem 0;
        align-self: flex-end;
        position: relative;
        top: 14px;  //'justify self' end
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s ease;

        &:hover {
            border: 2px solid $accent-color;
            background-color: transparent;
            color: $accent-color;
        }
      }
    }

    .div-textarea {
        height: 50%;
        // background-color: green;
    }
}

// Chrome autofill 'hack'
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px $secondary-color inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $primary-color !important;
}
