.footer {

    // z-index: 1;
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    // background-color: #fff;

    &-left, &-right {
        width: 50%;
        height: 20px;
        display: flex;
        // justify-content: center;
        align-items: center;
    }

    &-left {
        justify-content: flex-end;
        padding-right: 30px;
    }

    &-right {
        // justify-content: flex-start;
        padding-left: 30px;
    }

    span {
        @include font-regular;
        line-height: 1;
        font-size: 16px;
    }

    .copy{
        margin-top: 4px;
    }

    ul {
        // width: 100%;
        display: flex;
        list-style-type: none;

        li {
            margin-right: 10px;
            position: relative;
        }

        li a {
            @include font-regular;
            font-size: 16px;
            text-decoration: none;
        }

        li a::after {
            content: "";
            top: 50%;
            left: 0;
            // left: 50%; od środka
            transform: translateY(-50%);
            display: block;
            height: 2px;
            position: absolute;
            z-index: 1;
            background: $accent-color;
            transition: width .3s ease, left .3s ease;
            width: 0;
        }
        
        li a:hover::after {
            width: 100%;
            // left: 0; od środka
        }
    }
}

.button-up-wrapper {
    position: absolute;
    right: calc(5vw - 20px);
    bottom: 50px;
    width: 40px;
    height: 40px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-up {
    @include background-noise;
    width: 35px;
    height: 35px;
    padding: 10px;
    text-decoration: none;
    color: $text-color;
    border: solid 1px $text-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 22px;
        height: 22px;
        transition: margin-bottom .3s ease;
    }

    &:hover img {
        margin-bottom: 8px;
    }
}