section.hero {
    display: flex;
    position: relative;
    left: -10%;
}

.hero-header {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    white-space: nowrap;
    pointer-events: none;
    /* z-index: 5; */

    // background-color: #fff;
}

.hero-header h1 {
    font-family: 'steelfishextrabold';
    line-height: .8;
    /* font-family: 'voltagelight'; */
    /* font-family: 'voltageregular'; */
    text-transform: uppercase;
    color: $text-color;
    font-size: 100px;
}

.hero-header span {
    color: $accent-color;
}

.hero-header span.span-higher {
    position: relative;
    bottom: 10px;
}

.hero-header span.span-lower {
    position: relative;
    top: 10px;
}