// Opcja fixu dla touchscreens - nav hover

    // @media ((hover: hover) and (pointer: fine)) {
    //     nav ul li:hover::after {
    //         width: 100%;
    //     }
    // }

@media (max-width: 1280px) {

    // ABOUT
    .about {
        p {
            font-size: 26px;
        }
    }

    .tech-logos {
        img {
            height: 65px;
        }
    }
}

@media (max-width: 1199px) {    //TABLET

    // HEADER & NAV
    // Temporary fix for 'sticky hover' on touchscreens
    .nav-link:active {
        color: $accent-color;
    }

    nav ul li::after {
        display: none;
    }

    // WORKS
    .project h4 {
        opacity: 1;
    }

    .project-image {
        transform: translateY(0);
        opacity: 1;
        transition: none;

        img {
            opacity: .7;
            transition: none;
        }
    }

    .project:hover .project-image img {
        opacity: .7;
    }

    .project-open:hover .project-image img {
        opacity: 1;
    }

    // FOOTER
    // Temporary fix for 'sticky hover' on touchscreens
    .footer ul li a:active {
        color: $accent-color;
    }

    .footer ul li a::after {
        display: none;
    }
}

@media (max-width: 1024px) {
    
    // ABOUT
    .about {
        p {
            font-size: 24px;
            white-space: normal;
        }
    }

    // CONTACT
    .contact-header h2{
        font-size: 65px;
    }
    
    .form-wrapper {
        width: 90%;
    }

    form div button {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {

    // BASE
    .index-text {
        font-size: 14px;
    }

    // HERO
    .hero-header h1{
        font-size: 80px;

        &:nth-of-type(2), &:nth-of-type(3) {
            display: block;
        }

        &:nth-of-type(3) {
            margin: 15px 0;
        }
    }

    // ABOUT
    .about {    
        p {
            font-size: 22px;
        }
    }

    .tech-logos {
        img {
            height: 60px;
        }
    }

    // WORKS
    .project-info-headers {
        h2 {
            font-size: 100px;
        }

        h4 {
            font-size: 20px;
        }
    }

    // CONTACT
    .contact-header {
        height: 120px;

        h2{
            font-size: 60px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            &:nth-of-type(1) {
                top: 0;
            }

            &:nth-of-type(2) {
                bottom: 0;
            }
        }
    }

    .form-wrapper {
        width: 100%;
    }
}

@media (max-width: 480px) {
    
    // BODY
    // body {
    //     background: none;
    //     background-color: $primary-color;
    // }

    // HEADER & NAV
    .menu-btn {
        right: calc(12.5% - 29px);
        top: 15px;
    }

    section.menu-overlay {
        .column-5 {     // For menu transformX
            z-index: 0;
        }

        .column-4, section.menu-overlay .column-3 {
            z-index: 20;
        }
    }

    nav {
        left: calc(-15vw + 5px);
    }

    .nav-link {
        font-size: 70px;
    }

    // .logo {
    //     left: calc(12.5% - 29px);
    // }

    // HERO
    .hero-header {
        left: calc(-15vw + 5px);

        h1{
            font-size: 70px;
        }
    }

    // ABOUT
    .about {
        p {
            font-size: 20px;
        }
    }

    .tech-logos {
        img {
            height: 50px;
            padding: 3px;
        }
    }

    // WORKS
    .works {
        height: calc(240vw + 200px); // 4 x 60vw project + inner-wrapper padding top&bottom + 4 x margin

        &-top {
            width: 100%;
            height: 50%;
            top: 0;
            flex-direction: column;
            margin-top: 25px;
        }

        &-bottom {
            width: 100%;
            height: 50%;
            flex-direction: column;
            position: static;
            margin-top: 25px;
        }

        .index-text {
            font-size: 18px;
            margin-bottom: 4px;

            span {
                display: none;
            }
        }
    }
    
    .project-wrapper {
        width: 100%;
        height: 50%;

        &-right {
            margin-top: 25px;
        }
    }
    
    // powtórzenie z works.scss konieczne do poprawnego wyświetlania tekstu ???
    .project-open {
        width: 100vw;
        height: 100vh;
        margin-top: 0; // .project-wrapper-right overwrite

        .project-image img{
            display: none;
        }

        .project-info {
            left: 0;
            width: 100%;

            &-headers {
                height: 22%;

                h2 {
                    font-size: 90px;
                }

                h4 {
                    font-size: 18px;
                }
            }

            &-details {
                height: 75%;
            }
        }
    }

    // CONTACT
    .contact .inner-wrapper {
        width: 80%;
        left: 20%;
    }

    .contact .inner-wrapper .index {
        display: none;
    }

    // form {
    //     margin: 0 5px;
    // }

    .contact-header {
        height: 100px;
        top: 18px;
    }

    .contact-header h2{
        font-size: 50px;
    }

    form div label {
        font-size: 12px;
    }

    form div input, form div textarea, form div button {
        font-size: 18px;
    }

    form div button {
        width: calc(75% - 20px);
    }

    // FOOTER
    .footer {
        bottom: 10px;
        flex-direction: column-reverse;
        height: 40px;
        justify-content: space-between;

        &-left, &-right {
            width: 100%;
            // height: 12px;
        }

        &-left {
            justify-content: center;
            align-items: center;
            padding-right: 0;
        }

        &-right {
            justify-content: center;
            align-items: center;
            padding-left: 0;
        }

        &-span-mobile {
            display: none;
        }
    }

    .button-up-wrapper {
        display: none;
    }
}

@media (max-width: 375px) {

    // ABOUT
    .tech-logos {
        img {
            height: 45px;
        }
    }

    // CONTACT
    .contact-header {
        top: 8px;
    }
}

// MOBILE LANDSCAPE

@media (max-height: 480px) and (max-width: 768px) and (orientation: landscape) {

    // NAV
    .nav-link {
        font-size: 60px;
    }

    // SECTIONS
    .about, .contact {
        height: 180vh;
    }

    // HERO
    .hero-header h1{
        font-size: 70px;
    }

    // WORKS
    .project-open .project-image img{
        display: none;
    }

    .project-open .project-info {
        left: 0;
        width: 100%;
    }

    .project-open .project-info .project-info-headers {
        width: 30%;
        height: 100%;
    }

    .project-open .project-info .project-info-details {
        width: 70%;
        height: 100%;
        left: 30%;

        img {
            height: 36px;
        }

        a img {
            width: 50px;
            height: 50px;
        }
    }

    .project-open .project-info .project-info-details h5 {
        font-size: 28px;

        span {
            width: 23px;
            height: 23px;
        }
    }

    .project-open .project-info .project-info-details p {
        font-size: 18px;
    }
}

@media (max-height: 375px) and (max-width: 768px) and (orientation: landscape) {

    // HERO
    .hero {
        height: 120vh;
    }

    .hero-header h1{
        font-size: 65px;
    }
}

