.menu-btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5vh;
    right: calc(5% - 29px);
    cursor: pointer;
    transition: all .5s ease-in-out;

    &-burger {
        width: 4px;
        height: 40px;
        background-color: $text-color;
        transition: all .5s ease-in-out;

        &::before, &::after {
            content: '';
            position: absolute;
            width: 4px;
            height: 40px;
            background-color: $text-color;
            transition: all .5s ease-in-out;
        }

        &::before {
            transform: translateX(-16px);
        }

        &::after {
            transform: translateX(16px);
        }
    }

    &.menu-open .menu-btn-burger {
        transform: translateY(50px);
        background: transparent;

        &::before {
            transform: rotate(45deg) translate(-35px, -35px);
            background-color: $primary-color;
        }

        &::after {
            transform: rotate(-45deg) translate(35px, -35px);
            background-color: $primary-color;
        }
    }

    &-hidden {
        transition: none;
        visibility: hidden;
    
        .menu-btn-burger {
            transition: none;

            &::before, &::after {
                transition: none;
            }
        }
    }
}