nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    z-index: 10;
    height: 50vh;
}

nav ul {
    list-style-type: none;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

nav ul li {
    padding-left: 0;
    transition: all .2s ease-in-out;
    
    // background-color: #fff;
    pointer-events: none;
    position: relative;
}

nav ul li::after {
    content: "";
    top: 50%;
    left: 0;
    // left: 50%; od środka
    transform: translateY(-50%);
    display: block;
    height: 8px;
    position: absolute;
    z-index: 1;
    background: $accent-color;
    transition: width .3s ease, left .3s ease;
    width: 0;
}

nav ul li:hover::after {
    width: 100%;
    // left: 0; od środka
}

.nav-link {
    @include font-header;
    color: $primary-color;
    font-size: 80px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    margin-left: -80px;
    transition-property: margin-left, opacity;
    transition-duration: .3s, .5s;
}

.nav-link-1 {
    transition-delay: .5s;
}

.nav-link-2 {
    transition-delay: .6s;
}

.nav-link-3 {
    transition-delay: .7s;
}

.nav-link-4 {
    transition-delay: .8s;
}

.nav-link.menu-open {
    opacity: 1;
    pointer-events: all;
    margin-left: 0;
}

section.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    left: -10%;
    // z-index: 1;
}

section.menu-overlay.menu-open {
    z-index: 1;
}

section.menu-overlay .column {
    border-right: none;
}

section.menu-overlay .column-5 {     // For menu transformX
    z-index: 20;
}

.bg-change {
    /* W lewo */
    position: absolute;
    top: 0;
    right: 0;
    /* W prawo */
    width: 0;
    height: 100%;
    background: url('../img/bg-noise.png'), $secondary-color;
    background-size: 300px 300px;
    animation: 250ms steps(10, end) 0s infinite alternate-reverse none running noise-animation;
    transition: width .5s;
}

.bg-change.slide {
    width: 100%;
    border-right: thin solid $primary-color;
}