.nav {
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    z-index: 10;

    ul {
        height: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        li {
            padding-left: 0;
            transition: all .2s ease-in-out;
            pointer-events: none;
            position: relative;

            &::after {
                content: "";
                top: 50%;
                left: 0;
                // left: 50%; middle to outside
                transform: translateY(-50%);
                display: block;
                height: 8px;
                position: absolute;
                z-index: 1;
                background: $accent-color;
                transition: width .3s ease
                // , left .3s ease
                ;
                width: 0;
            }

            &:hover::after {
                width: 100%;
                // left: 0; middle to outside
            }
        }
    }

    &-link {
        @include font-header;
        color: $primary-color;
        font-size: 80px;
        text-decoration: none;
        opacity: 0;
        pointer-events: none;
        margin-left: -80px;
        transition-property: margin-left, opacity;
        transition-duration: .3s, .5s;

        &-1 {
            transition-delay: .5s;
        }

        &-2 {
            transition-delay: .6s;
        }

        &-3 {
            transition-delay: .7s;
        }

        &-4 {
            transition-delay: .8s;
        }

        &.menu-open {
            opacity: 1;
            pointer-events: all;
            margin-left: 0;
        }
    }
}

section.menu-overlay {
    position: fixed;
    top: 0;
    left: -10%;
    display: flex;

    &.menu-open {
        z-index: 10;
    }

    .column {
        border-right: none;

        &-5, &-4 {
            z-index: 20;    // For menu transformX
        }
    }
}

.bg-change {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: url('../img/bg-noise.png'), $secondary-color;
    background-size: 300px 300px;
    animation: 250ms steps(10, end) 0s infinite alternate-reverse none running noise-animation;
    transition: width .5s;

    &.slide {
        width: 100%;
        border-right: thin solid $primary-color;    // 'Thin' instead of 1px for Chrome bug
    }
}