.works {
    height: 185vh;

    .inner-wrapper {
        // align-items: center;
        // display: flex;
        flex-direction: row;
    }

    a {
        color: inherit;
    }
}

.project-wrapper {
    z-index: 1;
    height: 30vw;
    width: calc(100% - 1px);
    position: relative;
}

.project {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;

    &-info {
        width: 100%;
        height: 100%;
        // z-index: 1;

        &-headers {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            pointer-events: none;

            h2 {
                @include font-header;
                font-size: 120px;
            }

            h4 {
                @include font-regular;
                font-size: 25px;
                padding-top: 15px;
                opacity: 0;
                transition: opacity 1s ease;
            }
        }

        &-details {
            display: none;
        }
    }

    &-image {
        height: 100%;
        width: 100%;
        // background-color: $primary-color;
        @include background-noise;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-50px);
        opacity: 0;
        transition: all 1s ease;

        img {
            width: 100%;
            opacity: 0;
            transition: opacity 1s ease;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &:hover h4{
        opacity: 1;
    }

    &:hover .project-image {
        opacity: 1;
        transform: translateY(0);

        img {
            opacity: .5;
        }
    }

}

.works-left {
    width: 50%;

    .project.animate-on-scroll {
        opacity: 0;
        transform: translateX(-60px);
        transition: transform 1s ease .5s,
                    opacity 1s ease .5s;

        &.is-visible {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.works-right {
    width: 50%;
    position: relative;
    top: 15vw;

    .project.animate-on-scroll {
        opacity: 0;
        transform: translateX(60px);
        transition: transform 1s ease .5s,
                    opacity 1s ease .5s;

        &.is-visible {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.project-open {

    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    // cursor: default !important;

    .project {
        
        cursor: url(../img/close20.svg), auto !important;
    }

    &:hover .project-image{

        img {
            opacity: 1;
        }

    }

    h2, h4 {
        opacity: 1;
    }

    .project-image {

        opacity: 1;
        transform: translateY(0);

        img {
            width: 50%;
            opacity: 1;
        }
    }

    .project-info {
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;

        &-headers {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 30%;
            animation: show 1s ease;
        }

        &-details {
            display: block;
            width: 100%;
            height: 65%;
            padding: 0 20px;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            text-align: center;

            h5 {
                @include font-header;
                font-size: 32px;
                color: $accent-color;
                // position: relative;
                animation: slide-up 1s ease;
                // transform: translateX(-16px);

                span {
                    display: inline-block;
                    width: 27px;
                    height: 27px;
                    background-color: $accent-color;
                    // position: absolute;
                    // top: 0;
                    // left: 0;
                    margin-left: 5px;
                }
            }

            p {
                @include font-regular;
                font-size: 20px;
                white-space: normal;
                padding: 20px 0;
                animation: show 2.5s ease;
            }

            img {
                height: 40px;
                margin: 20px 0;
                padding: 0 5px;
                animation: show 2.5s ease;
            }
        }

        &-btns {

            a {
                text-decoration: none;
            }

            img {
                // filter: none;
                // transition: filter 1s ease;
            }
                
            img:hover{
                filter: brightness(0) saturate(100%) invert(14%) sepia(99%) saturate(3113%) hue-rotate(341deg) brightness(90%) contrast(108%);
            }
        }
    }
}

@keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slide-up {
    0% {opacity: 0; transform: translateY(40px);}
    100% {opacity: 1; transform: translateX(0);}
}