.works {
    height: 200vh;

    .inner-wrapper {
        // align-items: center;
        flex-direction: row;
        padding: 0;
    }

    a {
        color: inherit;
    }
}

.project {
    position: relative;
    // left: -1px;
    z-index: 1;
    height: 30vw;
    width: calc(100% - 1px);
    // width: 30vw;
    // margin-bottom: 20px;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    h2 {
        @include font-header;
        font-size: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    h4 {
        @include font-regular;
        font-size: 25px;
        position: absolute;
        left: 50%;
        bottom: 25%;
        transform: translateX(-50%);
        z-index: 1;
        opacity: 0;
        transition: opacity 1s ease;
    }

    &-image {
        height: 100%;
        width: 100%;
        background-color: $primary-color;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-50px);
        // z-index: 1;
        opacity: 0;
        transition: all 1s ease;

        img {
            width: 100%;
            opacity: 0;
            transition: opacity 1s ease;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &:hover h4{
        opacity: 1;
    }

    &:hover .project-image {
        opacity: 1;
        transform: translateY(0);

        img {
            opacity: .5;
        }
    }

}

.works-left {
    width: 50%;
}

.works-right {
    width: 50%;
    position: relative;
    top: 15vw;
}

.project-open {
    // z-index: 50;
    // position: fixed;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    // width: 100vw;
    // height: 100vh;
    background-color: $primary-color;

    position: fixed;
    left: 0;
    transform: translateY(-10%);
    width: 100vw;
    height: 100vh;
    z-index: 1000;

    .project-image {
        // width: 50%;
        // height: 50%;
        // top: 50%;
        // left: 50%;
        width: 20%;
        height: 20%;
        display: none;
        // transition: none;
    }
}